@font-face {
    font-family: 'Roboto Medium';
    src: url('../assets/Roboto-Medium.ttf');
}

body {
    margin: 0px;
    overflow: hidden;
    font-family: 'Roboto Medium';
    color: white;
}

input {
    font-family: 'Roboto Medium';
}

select {
    font-family: 'Roboto Medium';
}

#header-table {
    height: 100px;
    width: 100%;
    background-color: #1d5b79;
    margin: 0px;
    text-align: center;
    vertical-align: middle;
}

#home-button-column {
    width: 100px;
}

#title {
    font-size: 40px;
}

#buffer1 {
    width: 100px;
}

#matrix-label-column {
    text-align: right;
    width: 300px;
}

#left-bracket-wrapper {
    text-align: right;
}

#right-bracket-wrapper {
    text-align: left;
}

#matrix-bracket {
    font-size: 90px;
}

#matrix {
    margin: auto;
}